@model ScrumPoker.Models.Room

<div class="container">
    <h1>Create new Room</h1>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel()

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    }
</div>