@model IEnumerable<ScrumPoker.Models.Room>

<h1>Room list</h1>

<ul>
    <li>@Html.ActionLink("Create new room", "Create")</li>
</ul>

<ul>
    @foreach(var room in Model) {
        <li>
            <b>@Html.ActionLink(room.Name, "Index", "Client", new { roomId = @room.RoomId }, new {})</b> - <i>@room.Description</i>
        </li>
    }
</ul>