@model ScrumPoker.Models.Issue

<div>
    @Html.HiddenFor(x => x.RoomId)
    @Html.HiddenFor(x => x.IssueId)
    
    @Html.EditorFor(x => x.Name, "String")
    @Html.EditorFor(x => x.Description, "TextArea")
</div>