@model ScrumPoker.Models.Room

<div class="container">
    <h1>Dashboard for @Model.Name</h1>
    <p>@Model.Description</p>
    
    <img src="@Model.RoomId/QrImage" alt="QR Code to join the room" />
</div>